@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* You can add global styles to this file, and also import other style files */

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'nanumgothic', 'Nanum Myeongjo', 'nanumsquare', 'notosanskr', 'nanummyeongjo' ;
}

div {
    /* border: 1px solid red; */
}

.carousel-control.right, 
.carousel-control.left {
    background-image: none;
    margin: 20px;
}

header .logo,
.lnb,
.userform {
    color: white;
}

.wrapper {
    /* width: 1920px; */
    width: 100%;
    margin: auto;
}

header .pos-relative {
    position: relative;
}

header .pos-absolute {
    position: absolute;
    width: 100%;
    margin: auto;
}

header nav {
    height: 100px;
    margin: auto;
}

header .logo {
    margin-left: 10%;
    margin-top: 20px;
}

header .logo img {
    /* text-align: center; */
    float: left;
    /* width: 199px;
    height: 59px; */
}

header .lnb {
    width: 40%;
    margin: auto;
    margin-left: 10%;
    font-size: 0.6em;
    text-align: center;
    display: inline-block;
}

header .lnb li {
    margin: auto;
    text-align: center;
    float: left;
    width: 20%;
    line-height: 70px;
}

header .userform {
    float: right;
    margin-right: 10%;
    margin-top: 15px;
    font-size: 0.2em;
}

header .userform li:nth-child(2) {
    text-align: center;
    width: 30px;
}

header .caption-img img:nth-child(1){
    width: 50%;
    position: absolute;
    bottom: 185%;
    right: -15%;
}

header .caption-img img:nth-child(2) {
    width: 2%;
    position: absolute;
    bottom: -10px;
}

header .userform li,
footer .footermenu li {
    text-align: center;
    float: left;
    line-height: 40px;
}

.float-right {
    text-align: right;
}

.info {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 85%;
    /* height: 400px; */
    margin: auto;
    overflow: hidden;
}

.info div:nth-child(1) {
    width: 49%;
    /* height: 294px; */
    margin: auto;
    float: left;
    box-sizing: border-box;
}

.info div:nth-child(2) {
    width: 49%;
    /* height: 294px; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    float: right;
    box-sizing: border-box;
}

.info div:nth-child(2) p:nth-child(1) {
    font-size: 31px;
    font-weight: bold;
    margin-top: 15px;
    font-family:'Nanum Myeongjo', 'nanumsquare', 'notosanskr', 'nanummyeongjo' ;
}

.info div:nth-child(2) p:nth-child(2) {
    /* line-height: 29px; */
    font-size: 15.5px;
    margin-top: 10px;
    font-family:'Nanum Myeongjo', 'nanumsquare', 'notosanskr', 'nanummyeongjo' ;
}

.info button {
    width: 20%;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: auto;
    float: right;
    margin-bottom: 10px;
}

.imgslider {
    height: 450px;
    background-color: rgb(231, 231, 231);
}

.imgslider .slider-wrap {
    width: 85%;
    margin: auto;
    padding-top: 10px;
}

section .slider-title {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

section .imgslider-text-wrap {
    position: relative;
}

section .item .instaitem-wrap {
    width: 31%;
    margin-left: 12px;
    display: inline-block;
}

section .item instaitem {
    width: 100%;
    display: inline-block;
    position: relative;
}

section .item img {
    width: 100%;
    height: 200px;
    /* margin-left: 5px; */
}

section .item .instatag {
    padding: 10px;
    width: 100%;
    display: inline-block;
    background-color: white;
    font-size: 10px;
    color: gray;
}

section .item .instatag p:nth-child(1) {
    height: 50px;
}

section .carousel {
    width: 75%;
    height: 360px;
    display: inline-block;
}

section .carousel-indicators {
    bottom: -5px;
}

section .carousel-indicators li {
    background-color: rgb(98, 0, 255);
}

.carousel-control .glyphicon-chevron-left {
    left: -20%;
}

.carousel-control .glyphicon-chevron-right {
    right: -20%;
}

section .instainfo-wrap {
    width:20%;
    height: 360px;
    float: right;
}

section .instainfo-wrap .instaimg {
    top: -15%;
    width: 20%;
    position: absolute;
}

section .instainfo-wrap .insta-text {
    position: absolute;
    display: inline-block;
    text-align: right;
    bottom: 30px;
    color: gray;
}

section .instainfo-wrap .insta-text p:nth-child(1) {
    font-weight: bold;
    color: black;
}

section .instainfo-wrap .insta-text div {
    text-decoration-line: underline;
}

footer {
    margin: auto;
    width: 83%;
    height: 200px;
}

footer div {
    /* border: 1px solid rebeccapurple; */
}

footer .footermenu {
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
}

footer .footer-logo {
    display: inline-block;
}

footer .footermenu li:nth-child(2n) {
    text-align: center;
    width: 40px;
}

footer .footertext {
    width: 700px;
    text-align: right;
    float: right;
}

footer .footertext div:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
}

footer .footertext div:nth-child(5) {
    font-size: 5px;
    color: rgba(0, 0, 0, 0.336);
}

footer .padding-t5 {
    padding-top: 5px;
}

footer .padding-b5 {
    padding-bottom: 5px;
}